{{ facebook_initialize({'xfbml': true, 'culture': 'fr_FR', 'async': false}) }}
<div class="fb-like-box" style="background-color: #fff;" data-href="https://www.facebook.com/IbPlanet" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true" data-width="{{ width|default(290) }}"></div>