<div class="row">
  <div class="col-md-12">
      {% for key,messages in app.session.flashbag.all() %}
          <div class ="alert alert-{{ key }} fade in">
              <a href="#" class="close" data-dismiss="alert">&times;</a>    
              {% for message in messages %}
                      <strong>{{ key|capitalize }}</strong> : {{ message }} {% if not loop.last %}<br>{% endif %}
              {% endfor %}    
          </div>
      {% endfor %}
  </div>
</div>