<aside id="left-panel">
    <nav class="ib_page" data-nav="{{ slug }}">
    	{% if menu_transversale is not null %}
    	    {{menu_transversale|raw}}
    	{% endif %}
    </nav>

    <!-- <span class="minifyme"><i class="fa fa-arrow-circle-left hit"></i></span> -->
</aside>