<form class="ib_commentaire_commentaire_remove btn-group" action="" method="POST" style="margin-right:5px;margin-left:5px;">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="hidden" name="_token" value="{{ csrf_token('delete_IBCommentaireBundle_OFsGa0Wtnl') }}" />
    <button type="submit" class="btn btn-default btn-sm">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</form>